.player {
	background-color: #332;
	color: #CCA;
	text-align: center;
}
.player-controls {
	display: block;
	padding-top: .25em;
	font-size: 3em;
}
.player-control {
	display: inline-block;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	border: 3px solid #221;
	text-indent: 100%;
	overflow: hidden;
	background-color: #443;
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
}
.player-control--prev {
	background-image: url(../images/previous.png);
	background-image: url(../images/previous.svg);
}
.player-control--next {
	background-image: url(../images/next.png);
	background-image: url(../images/next.svg);
}
.player-control--disabled {
	background-color: #221;
	opacity: 0.5;
}
.player-songInfo {
	display: block;
	padding: .25em;
}