.playlistListItem {
	background-color: #FFE;
	box-shadow: 3px 3px #CCA;
	margin: .5em 0;
}
.playlistListItem a {
	text-decoration: none;
	color: inherit;
}
.playlistListItem-cover {
	margin-top: 2.5%;
	width: 95%;
}
.playlistListItem-description {
	color: #555;
	padding: .5em;
}