.playlist-header {
	font-size: 1.5em;
	text-align: center;
	padding: .5em 0;
	color: #994;
}

.playlist-cover {
	width: 100%;
	display: block;
}
.playlist-backButton {
	position: absolute;
	left: .5em;
	text-indent: 100%;
	overflow: hidden;
	width: 1em;
	height: 1em;
	background: transparent url(../images/back.png) center;
	background: transparent url(../images/back.svg) center/100%;
}
.playlist-main {
	background-color: #110;
	overflow: hidden;
}

@media (min-width: 740px) {
	.playlist-cover {
		float: right;
		width: 66%;
	}
	.playlist-main .playlistSongs {
		width: 34%;
	}
}