.player {
	background-color: #332;
	color: #CCA;
	text-align: center;
}
.player-controls {
	display: inline-block;
	vertical-align: middle;
	padding-top: .25em;
	font-size: 3em;
}
.player-control {
	display: inline-block;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	border: 3px solid #221;
	text-indent: 100%;
	overflow: hidden;
	background-color: #443;
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
}
.player-control--prev {
	background-image: url(../images/previous.png);
	background-image: url(../images/previous.svg);
}
.player-control--next {
	background-image: url(../images/next.png);
	background-image: url(../images/next.svg);
}
.player-control--play {
	background-image: url(../images/play.png);
	background-image: url(../images/play.svg);
}
.player-control--pause {
	background-image: url(../images/pause.png);
	background-image: url(../images/pause.svg);
}
.player-control--play,
.player-control--pause {
	display: none;
	visibility: hidden;
}
.player-controls--paused .player-control--play,
.player-controls--playing .player-control--pause {
	display: inline-block;
	visibility: visible;
}
.player-control--disabled {
	background-color: #221;
	opacity: 0.5;
}
.player-songInfo {
	display: inline-block;
	margin-left: 1em;
	vertical-align: middle;
	padding: .25em;
}
.player-nativeControls {
	display: block;
	margin: 0 auto;
	padding: .5em;
}