.progressBar {
	background-color: #776;
	position: relative;
}
.progressBar-indicator {
	background-color: gold;
	display: block;
	height: 1.5em;
}
.progressBar-caption {
	position: absolute;
	color: #222;
	width: 100%;
	text-align: center;
	font-size: .9em;
	left: 0;
	top: 0;
	padding: .3em 0;
}